body {
    font-family: "Manrope", serif;
    background-color: #24273a;
    color: #ee99a0;
    font-size: 150%;
}

.rectangle {
    border-radius: 25px;
    margin: auto;
    height: 90%;
    width: 90%;
    background-color: #494d64;
    border-color: #ee99a0;
    border-style: solid;
  }

h1 {
    font-size: 300%;
    text-align: center;
}

.rectangle2 {
    border-radius: 25px;
    margin: auto;
    height: 50%;
    width: 50%;
    background-color: #6e738d;
    border-color: #ee99a0;
    border-style: solid;
  }
